<header>
    <nav>
        <a href="/">AddressBook</a>
        <ul>
            <li><a href="/authors">Contacts</a></li>
            <li><a href="/authors/new">Add Contacts</a></li>
        </ul>
    </nav>
</header>